{% extends 'ASFSchedulerBundle::backend_layout.html.twig' %}

{% block title %}
    {% block asf_base_meta_title %}{{ 'Edit %name%'|trans({'%name%': cat_event.getTitle()}) }}{% endblock %}
{% endblock %}

{% block body %}
    {% block breadcrumbs_tree %}
    	{{ parent() }}
    	> <a href="{{ path('asf_scheduler_company_event_category_edit', {id: cat_event.getId()}) }}" title="{{ 'Edit %name%'|trans({'%name%': cat_event.getTitle()}) }}">{{ '%name%'|trans({'%name%': cat_event.getTitle()}) }}</a>
    {% endblock %}
    
    {% block asf_cmd %}{% endblock %}
    
    {% block page_title %}{{ 'Edit : %name%'|trans({'%name%': cat_event.getTitle()}) }}{% endblock %}
    
    {% block content %}
    	{{ form_start(form) }}
    	{{ form_errors(form) }}
    	
    	<div class="row">
    		<div class="form-group col-sm-6">
    			{{ form_widget(form.title) }}
    		</div>
    		<div class="form-group col-sm-6">
    			{{ form_widget(form.cssClassName) }}
    		</div>
    	</div>
    	<div class="row">
    		<div class="form-group col-sm-6">
    			{{ form_widget(form.bgColor) }}
    		</div>
    		
    		<div class="form-group col-sm-6">
    			{{ form_widget(form.fgColor) }}
    		</div>
    	</div>
    	
    	<button type="submit" class="btn btn-primary">{{ 'Save'|trans }}</button> 
    	
    	{{ form_end(form) }}
    {% endblock %}
    
{% endblock %}